.list-el-employeeType {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.label-el {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  margin-top: 2px;
  margin-left: 5px;
}
.emploeyee-type-container {
  padding-left: 0;
  margin-left: 10px;
}
.filter-container {
  padding-left: 12px;
}
